bleach==6.1.0
bokeh==3.4.3
colorcet==3.1.0
esa-godot==1.8.3
holoviews==1.19.1
hvplot==0.10.0
jinja2==3.1.4
linkify-it-py==2.0.3
markdown==3.7
markdown-it-py==3.0.0
markupsafe==2.1.5
mdit-py-plugins==0.4.1
mdurl==0.1.2
mypy==1.11.1
mypy-extensions==1.0.0
panel==1.4.5
param==2.1.1
polars==1.5.0
pybind11-stubgen==2.5.1
pygmo==2.19.5
pygmo-plugins-nonfree==0.24
pyviz-comms==3.0.3
ruamel-yaml==0.18.6
ruamel-yaml-clib==0.2.8
seaborn==0.13.2
uc-micro-py==1.0.3
wat-inspector==0.4.0
wurlitzer==3.1.1
xyzservices==2024.6.0